@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
  }

  img:not(.h-full):not([class*="h-"]) {
    height: auto;
  }
}
